<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @store.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @store.longitude %>
</p>

<p>
  <b>Description:</b>
  <%= @store.description %>
</p>

<p>
  <b>Type:</b>
  <%= @store.type %>
</p>

<p>
	<b>Deal: </b>
	<%= @store.deal.title %>
</p>

<p>
	<b> Users coming for deal: </b>
	<%= render 'deals/users' %>
</p>

<%= link_to "Make a New Deal", new_deal_path %> <br />

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
