<p id="notice"><%= notice %></p>
<div id="map">
    <%= image_tag "m_map.jpg" %>
</div>
<div class="storeContent">
<p>
	<b>You're Flashing</b>
    <% if (@store.deal)  %>
	<p><%= @store.deal.title %></p>

    <%= link_to 'Close this Deal', @store.deal, :confirm => 'Are you sure?', :method => :delete %>

    <% else %>
    <p> <%= link_to "Flash a Deal", new_deal_path %> </p>
    <% end %>
</p>

<p>
	<%= render 'deals/users' %>
     <br />

</p>
</div>

<div style = position: relative; bottom: 0;>
    <%= link_to 'Edit Your Store Profile', edit_store_path(@store) %>
</div>
