<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @deal.title %>
</p>

<p>
  <b>Description:</b>
  <%= @deal.description %>
</p>

<p>
  <b>Price:</b>
  <%= @deal.price %>
</p>

<p>
  <b>Product:</b>
  <%= @deal.product %>
</p>

<p>
  <b>Expiration:</b>
  <%= @deal.expiration %>
</p>

<p>
  <b>Range:</b>
  <%= @deal.range %>
</p>

<p>
  <b>Points:</b>
  <%= @deal.points %>
</p>

<p>
  <b>Store:</b>
  <%= @deal.store_id %>
</p>


<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
